[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True

# Safer defaults
host_key_checking = True
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
